<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We provide Korea's first LEO SAT NMS S/W technology</h2>
                <hr class="light">
                <p class="text-faded">LEO SAT NMS is very different from conventional satellite NMS. We developed Korea's first satellite integrated SAT station Management software. And we are Korea's best wired and wireless network expert. Based on this, we provide everything of Korea's first NMS technology dedicated to LEO SAT.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
