<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Welcome to LEO Satellite NMS Of Korea Page</h1>
            <hr>
            <p>This is Korea's first low-orbit satellite NMS technology introduction website. It introduces low-orbit satellite technology, a core software technology for low-orbit satellites that are the core of 6G technology.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
